<div>
    <h1> Login </h1>
  </div>
</div>


<div class="container">
  <%= form_tag login_path do %>
  <p>
    <%= label_tag :email %> 
  </p>
  <p>
    <%= text_field_tag :email %> 
  </p>
   <p>
    <%= label_tag :password %> 
  </p>
  <p>
    <%= password_field_tag :password %> 
  </p>
  <p>
    <%= submit_tag "Create", class: "btn btn-success btn-large" %> 
  </p>
  
<% end %> 

</div>
