<h1> Sign Up</h1>


<div class="container">
  <%= form_for @user do |f| %>
    <p> 
      <%= f.label :first_name %>
    </p>
    <p>
      <%= f.text_field :first_name %> 
    </p>
    <p>
      <%= f.label :last_name %>
    </p>
    <p>
      <%= f.text_field :last_name %> 
    </p>
    <p>
      <%= f.label :email %>
    </p>
    <p>
      <%= f.text_field :email  %> 
    </p>
    <p>
      <%= f.label :password %>
    </p>
    <p>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
    </p>
    <p>
      <%= f.password_field :password_confirmation %>  
    </p>
    <p>
      <%= f.submit :Register, class: "btn btn-success" %>
    </p>
  <% end %>
</div>
