<div class="container">
  <h1> Welcome to Your Profile <%= @user.first_name.capitalize %> </h1>
  <hr/>
</div>

<div class="container">
  <%= link_to "Add New Address Book", new_user_book_path(session[:user_id]) %>
</div>

<div class="container">
  <h3> Address Books: </h3>
</div>


<div class="container">
  <table class="table table-striped">
    <% @user.books.each do |book| %>
      <tr>
        <td> 
          <strong> <%= book.name.capitalize %> </strong> 
        </td>
         
        <td>
           <%= link_to "show", user_book_path(@user.id, book.id) %> 
        </td>
        <td>
          <%= link_to "delete", 
                            user_book_path(@user.id, book.id), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

