<div class="container">
  <h1> Add contact to <%= @book.name.capitalize %> </h1>
  <hr />
</div>

<div class="container">
  <%= form_for [@user, @book, @contact] do |f| %>
    <p>
      <%= f.label :first_name %> 
    </p>
    <p>
      <%= f.text_field :first_name %> 
    </p>
      <p>
      <%= f.label :last_name %> 
    </p>
    <p>
      <%= f.text_field :last_name %> 
    </p>
      <p>
      <%= f.label :address %> 
    </p>
    <p>
      <%= f.text_field :address %> 
    </p>
    <p>
      <%= f.submit "Create" %> 
    </p>
  <% end %>
</div>


