
<% @books.each do |book| %>
  <p>
    <%= book.name %> | <%= link_to "Add Contact", new_user_book_contact_path(book.user_id, book.id) %>
  </p>
  
     <% book.contacts.each do |contact| %>
      <ul>
        <li> <%= contact.first_name.capitalize %> | <%= contact.address %> | < </li>
      </ul>
    <% end %>
  </p>
  

<% end %> 