<div class="container">
  <h1> New Address Book </h1>
</div>


<div class="container">
  <%= form_for [@user, @book] do |f| %>
    <p>
      <%= f.label :name %> 
    </p>
    <p>
      <%= f.text_field :name %> 
    </p>
    <p>
      <%= f.submit "Create", class: "btn btn-success" %> 
    </p>
  <% end %>
</div>
