<h1> <%= @book.name.capitalize %> </h1>

<div class="container">
  <h4> <%= link_to "Add new contact", new_user_book_contact_path(@user, @book) %> </h4>
</div>

<div class="container">
  <h3> Contacts: </h3>
</div>

<div class="container">
  <% if @book.contacts.empty? %>
    <p> You have no contacts. <%= link_to "Add your first one!", new_user_book_contact_path(@user, @book) %> </p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>
            <strong> First name </strong>
          </td>
          <td>
            <strong> Last name </strong>
          </td>
          <td>
            <strong> Address </strong>
          </td>
          <td>
            <strong> Action </strong>
          </td>
        </tr>
      </thead>
      <% @book.contacts.each do |contact| %>
      <tr>
        <td>
          <%= contact.first_name.capitalize %>
        </td>
        <td>
          <%= contact.last_name.capitalize %>
        </td>
        <td>
          <%= contact.address %> 
        </td>
        <td>
          <%= link_to "delete", user_book_contact_path(@user, @book, contact.id), method: :delete,
                      data: { confirm: "Are you sure?" } %> 
          </td>
        </tr>
        <% end %>
      </table>
  <% end %>
  <%= link_to "Back", user_path(@user) %>
</div>
